<div class="container px-0">
    <div class="lang d-flex align-items-center">
        <span class="me-3 fs-16 fw-semiBold text-secondary">Türkçe</span>
        <img class="me-2"  src="assets\tr-bayrak.png" alt="" />
        <img class="lang-opt" src="assets\dil-secenek.png" alt="" />
    </div>
  
  <nav class="navbar navbar-expand-lg pe-0">
    <div class="container-fluid pe-0">
      <a class="navbar-brand me-5" routerLink=""
        ><img src="assets\nav\logo.png"
      /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fs-24 navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
          <li class="nav-item me-5">
            <a
              class="nav-link fs-16 fw-semiBold d-flex align-items-center"
              routerLink="/kurumsal"
              ><img class="me-2" src="assets\nav\kurumsal.png" /><span
                >Kurumsal</span
              >
            </a>
          </li>
          <li class="nav-item me-5">
            <a
              class="nav-link fs-16 fw-semiBold d-flex align-items-center"
              routerLink="/blog"
              ><img class="me-2" src="assets\nav\blog.png" /><span>Blog</span>
            </a>
          </li>
          <li class="nav-item me-5">
            <a
              class="nav-link fs-16 fw-semiBold d-flex align-items-center"
              routerLink="/katalog"
              ><img class="me-2" src="assets\nav\katalog.png" /><span
                >Katalog</span
              ></a
            >
          </li>
          <li class="nav-item ms-auto">
            <button
              class="btn btn-secondary rounded-pill d-flex align-items-center pe-1"
            >
              <span class="me-3">Giriş Yap</span>
              <button class="btn btn-light rounded-pill py-2 px-4">
                Üye Ol
              </button>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
