.container{
    position: relative;
    padding-top: 2rem;
    .lang{
        position: absolute;
        top: 0;
        right: 0;
        &-opt{
            cursor: pointer;
        }
    }
    li:not(:last-child):hover span{
        
            color: var(--green);
      
    }
}
@media(max-width:992px){
    ul{
        justify-content: center !important;
        align-items: center !important;
        li{
            margin: 0 !important;
            
        }
    }
}