.kurumsal{
    background-image: url("/assets/hero_2.png");
    background-position: 50% 0%;
    background-size:contain;
    background-repeat: no-repeat;
    height: 400px;
    background-color: var(--lightGray);
    article{
        width: 21%;
        margin-left: 21rem;
        margin-top: 7.5rem;
        p{
            margin-bottom: 5rem;
        }
    }
}
