<footer class="py-4">
    <div class="container p-0">
        <div class="row">
            <div class="col  p-0">
                <ul class="d-flex align-items-center justify-content-center m-0 ">
                    <li class="d-flex align-items-center justify-content-center"><a class=" fs-14 fw-bold me-3" href="#">KVKK </a></li>
                    <li class="text-green fs-14 fw-bold me-3"> | </li>
                    <li class="d-flex align-items-center justify-content-center"><a class=" fs-14 fw-bold me-3" href="#">Mesafeli Satış Sözleşmesi </a></li>
                    <li class="text-green fs-14 fw-bold me-3"> | </li>
                    <li class="d-flex align-items-center justify-content-center"><a class=" fs-14 fw-bold me-3" href="#">Üyelik Sözleşmesi </a></li>
                    
                </ul>
            </div>
            <div class="col p-0 d-flex align-items-center justify-content-center">
                <span class="fs-12 text-secondary">&copf; Copyright Greyfood</span>
            </div>
            <div class="col p-0 d-flex justify-content-center align-items-center">
                <a href="#"><img class="me-4" src="/assets/master.png" alt=""></a>
                <a href="#"><img class="me-4" src="/assets/paypal.png" alt=""></a>
                <a href="#"><img class="me-4" src="/assets/deutche.png" alt=""></a>
                
            </div>
        </div>
    </div>
</footer>