.container {
  background-color: #fff;
  border-radius: 21px;
  li {
    .icon {
      filter: grayscale(100%);
    }
    &:hover {
      span {
        color: var(--green);
      }
      .icon {
        filter: grayscale(0%);
      }
    }
    &:last-child {
      background-color: var(--green);
      border-radius: 0 0 0 21px;
      span {
        color: white;
      }
    }
  }
}
@media (max-width:768px){
  .secenekler{
    display: none !important;
  }
}