<div class="container text-center">
    <h4 class="fs-30 fw-bold my-4 text-green">Kategoriler</h4>
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li *ngFor="let categorie of categories" >
                    <a routerLinkActive="active" routerLink="{{categorie.routerLink}}" class="d-flex flex-column align-items-center justify-content-center my-5 item py-4">
                        <img class="icon" [src]="categorie.img" alt="">
                        <span routerLinkActive="text-green" class="fs-18 fw-semiBold">{{categorie.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>