.content {
    position: relative; 
    .content-item{
      position: absolute;
      top: 0;
      right: 0;
      .signIn{
          width: 50% !important;
          
      }
    }
   
    
  }
  .swiper-pagination {
    background-color: aquamarine;
    position: absolute;
    padding: 1rem 0;
    border-radius: 2rem;
    width: 11rem;
    margin-left: 104rem;
  }
  
  