html {
    font-size: 10px;
  }
  * {
    line-height: 1.82;
    font-family: 'Quicksand', sans-serif;
  }
  body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--gray) !important;
  }
  ul {
    list-style-type: none;
    margin: 0;
    // color: #fff!important;
  }

  
  a {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    color: gray !important;
    cursor: pointer;
  }
  img {
    max-width: 100%;
  }
  //Font Size
  .fs {
    &-10 {
      font-size: 1rem;
    }
    &-12 {
      font-size: 1.2rem;
    }
    &-14 {
      font-size: 1.4rem;
    }
    &-15 {
      font-size: 1.5rem;
    }
    &-16 {
      font-size: 1.6rem;
    }
    &-17 {
      font-size: 1.7rem;
    }
    &-18 {
      font-size: 1.8rem;
    }
    &-19 {
      font-size: 1.9rem;
    }
    &-20 {
      font-size: 2rem;
    }
    &-23 {
      font-size: 2.3rem;
    }
    &-25 {
      font-size: 2.5rem;
    }
    &-26 {
      font-size: 2.6rem;
    }
    &-27 {
      font-size: 2.7rem;
    }
    &-30 {
      font-size: 3rem;
    }
    &-32 {
      font-size: 3.2rem;
    }
    &-35 {
      font-size: 3.5rem;
    }
    &-38 {
      font-size: 3.8rem;
    }
    &-40 {
      font-size: 4rem;
    }
    &-64 {
      font-size: 6.4rem;
    }
  }
  //Font Weight
  .fw {
    &-thin {
      font-weight: 100 !important;
    }
    &-light {
      font-weight: 300 !important;
    }
    &-regular {
      font-weight: 400 !important;
    }
    &-medium {
      font-weight: 500 !important;
    }
    &-semiBold {
      font-weight: 600 !important;
    }
    &-bold {
      font-weight: 700 !important;
    }
    &-extraBold {
      font-weight: 800 !important;
    }
  }