@media(max-width:1200px){
    html {
        font-size: 9.5px;
      }
}
@media(max-width:992px){
    html {
        font-size: 8.5px;
      }
}
@media(max-width:768px){
    html {
        font-size: 7.4px;
      }
}
@media(max-width:576px){
    html {
        font-size: 6.5px;
      }
}
