<div class="blog text-center my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <div class="card d-flex justify-content-between shadow">
          <div class="px-4">
            <img src="/assets/services_icon_1.png" class="card-img-top" />
          </div>

          <div class="card-body text-start mt-4 text-center">
            <h5 class="card-title fs-24 fw-bold mb-4">30'dan Fazla Marka</h5>
            <p class="card-text fs-18 fw-regular">
              Greyfood aracılığı ile prestijli markalar raflarınızda yerini
              alsın!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card d-flex justify-content-between shadow">
          <div class="px-4">
            <img src="/assets/services_icon_2.png" class="card-img-top" />
          </div>

          <div class="card-body text-start mt-4 text-center">
            <h5 class="card-title fs-24 fw-bold mb-4">Avantajlı Fiyatlar</h5>
            <p class="card-text fs-18 fw-regular">
                Dünya markalarının en iyi ürünleri kaliteli ve avantajlı fiyatlarla raflarınızda!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card d-flex justify-content-between shadow">
          <div class="px-4">
            <img src="/assets/services_icon_3.png" class="card-img-top" />
          </div>

          <div class="card-body text-start mt-4 text-center">
            <h5 class="card-title fs-24 fw-bold mb-4">Profestonel Dağıtım</h5>
            <p class="card-text fs-18 fw-regular">
                Ürünlerimizi araçlara sıgdığı kadar degil, üreticinin kapasitesi kadar sunuyoruz.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card d-flex justify-content-between shadow">
          <div class="px-4">
            <img src="/assets/services_icon_4.png" class="card-img-top" />
          </div>

          <div class="card-body text-start mt-4 text-center">
            <h5 class="card-title fs-24 fw-bold mb-4">7/24 Destek</h5>
            <p class="card-text fs-18 fw-regular">
                Satış öncesi ve sonrası tüm süreçlerde, kişisel müşteri desteği sağlıyoruz!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center"></div>
  </div>
</div>
