
.product {
  position: relative;
  height: 100% !important;
  border-radius: 1rem;
  .tag{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
  .img{
    max-height: 80%;
  }
  .incele{
    position: absolute;
    padding: 1rem 3rem;
    color: white;
    background-color: var(--green);
    top: 40%;
    transform: translate(-50% -50%);
    opacity: 0;
    transition: all .6s ease-in-out;
  }
  &:hover{
    cursor: pointer;
    .incele{
      opacity: 1;
    }
  }
  .sepet:hover{
    filter: hue-rotate(90deg);
  }
}