swiper{
    padding: 2rem ;
    img{
      cursor: pointer;
      filter:grayscale(100%);
      transition: all 1s ease-in-out;
      &:hover{
        filter:grayscale(0);
      }
    }
  }
  
  .swiper-button-next{
    transform: scale(.5) ;
  
  }
  .swiper-button-prev{
    transform:scale(.5) rotate(180deg);
  }
  