.content {
  position: relative;
  &-item {
    position: absolute;
    top: 0;
    right: 0;
    .signIn {
      width: 50% !important;
    }
  }
}
.swiper-pagination {
  position: fixed;
  bottom: 10px;
  right: 350px;
  width: auto !important;
  left: auto !important;
  position: absolute;
  padding: 1rem 2rem;
  border-radius: 4rem;
  width: 11rem;
}
@media (max-width: 1400px) {
  .content {
    &-item {
      .signIn {
        width: 40% !important;
      }
      p {
        padding: 0 !important;
      }
    }
  }
}
@media (max-width: 1200px) {
  .swiper-pagination {
    display: none;
  }
}
@media (max-width: 992px) {
  .content {
    &-item {
      margin-top: 1rem !important;
      width: 50% !important;
      .signIn {
        width: 40% !important;
      }
      p {
        padding: 0 1rem !important;
        font-size: 1.5rem;
      }
    }
  }
}
