<swiper [config]="config" class="mt-3">
  <div class="swiper-wrapper">
    <div class="swiper-slide text-center">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="swiper-slide text-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <div class="col-md-8">
                <div class="card d-flex justify-content-between">
                  <img src="/assets/blog/card_1.png" class="card-img-top" />
                  <div class="card-body text-start px-5 mt-5">
                    <h5 class="card-title fs-20 fw-bold text-green mb-5">
                      ISM Cologne
                    </h5>
                    <p class="card-text fs-20 fw-regular">
                      30.01.2022 - 02.02.2022 tarihleri arasında iSM
                      fuarındayız. Standımıza bekleriz..
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide text-center">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="swiper-slide text-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <div class="col-md-8">
                <div class="card">
                  <img src="/assets/blog/card_2.png" class="card-img-top" />
                  <div class="card-body text-start px-5 mt-5">
                    <h5 class="card-title fs-20 fw-bold text-green mb-5">
                      Anuga Food Fuarı
                    </h5>
                    <p class="card-text fs-20 fw-regular">
                      09-13 Ekim tarihleri arasında anuga fuarındaydık. Fuar ile
                      ilgili detaylı bilgi için tıklayın...
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide text-center">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <img src="/assets/blog/card_3.png" class="card-img-top" />
              <div class="card-body text-start px-5 mt-5">
                <h5 class="card-title fs-20 fw-bold text-green mb-5">
                  Yummex 2021 Dubai
                </h5>
                <p class="card-text fs-20 fw-regular">
                  Yummex 2021 Dubai fuarındaydık. Fuar ile ilgili detaylı
                  bilgilere, katılımcı sayılarına ve satış yaptığımız firmalara
                  ulaşabilirsiniz.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination bg-light shadow text-secondary"></div>
</swiper>
